<div class="login">
  <h3>Login</h3>
  <form action='/login' method='post'>
  	<label>Email</label>
  	<input type='text' name='email'>
  	<label>Password</label>
  	<input type='password' name='password'>
  	<input type='Submit' value='Login'  class='submit'>
  </form>
  <a href="employee/new" class='create_link'>Create New Account</a>
</div>
