<div class='container'>
	<div class='center'>
	<form action='/job/create' method='post'>
		<h3>New Job</h3>
		<label>Name</label>
		<input type='text' name='name'>
		<label>Street Address</label>
		<input type='text' name='street_address'>
		<label>City</label>
		<input type='text' name='city'>
		<label>Zipcode</label>
		<input type='text' name='zipcode'>
		<input type='submit' value='Create Job'>
	</form>
	</div>
</div>